.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    text-align: center;
    height: 100dvh;
    min-height: 31.25rem;

    &__img {
        width: 12.5rem;
        height: auto;
        border-radius: 50%;
    }

    span {
        display: flex;
        gap: 1.5625rem;
        justify-content: center;

        a {
            margin: 0;

            img {
                width: 30px;
            }
        }
    }

    a {
        width: fit-content;
        align-self: center;
    }

    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        width: 7.875rem;
        height: 3.125rem;
        font-size: 1.25rem;
        font-weight: bold;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, trasform 200ms ease-in-out;
    }

    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    &__color-mode-container {
        position: relative;
    }

    &__color-mode {
        position: absolute;
        right: 0;
        width: 1.5625rem;
    }

    &__color-mode:hover {
        cursor: pointer;
    }

    &__description {
        max-width: 24ch;
        align-self: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;

        &__img {
            max-width: 21.875rem;
            width: 21.875rem;
        }
    }
}

@media screen and (min-width: 1280px) {
    .hero {

        &__img {
            max-width: 25rem;
            width: 25rem;
        }
    }
}
